.clients {
  width: 1200px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 40px;
    padding: 0;
    width: 1200px;
    margin: 0 auto;
    list-style: none;
  }

  &__item {
    fill: #afb1b8;
    cursor: pointer;
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: border;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--main-color);
      fill: var(--main-color);
    }
  }
}
