.clients__list {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 40px;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  list-style: none;
}

.clients {
  width: 1200px;
  margin: 0 auto;
}

.clients__ico {
  fill: #afb1b8;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--main-color);
  }
}
