.offer {
  width: 100%;
  margin: 0 auto;

  &__wraper {
    display: flex;
    justify-content: center;
  }

  &__header {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 10px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 0;
  }

  &__box {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    align-items: center;
    padding: 25px 100px;
  }

  &__list {
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 25px;
    margin-inline: auto;
    margin: 70px auto;
  }

  &_item {
    width: 100%;
  }
}

@media (min-width: $mobile) {
  .offer {
    &__list {
      width: 100%;
      max-width: 450px;
    }

    &_item {
      width: 100%;
      max-width: 768px;
    }
  }
}

@media (min-width: $tablet) {
  .offer {
    &__list {
      width: 100%;
      max-width: 738px;
    }

    &_item {
      width: 100%;
      max-width: 320px;
    }
  }
}

@media (min-width: $desktop) {
  .offer {
    // width: 1200px;

    &__list {
      flex-wrap: nowrap;
      padding: 0;
      max-width: 1200px;
    }

    &__item {
      width: 1200px;
    }
  }
}
